<% var d = jsonData; -%>
<div class="l-content c-common-bg">
	<div class="c-common-bg-inner p-introduction">
		<div class="c-center-head">
			<div class="c-box-title is-type2  is-small">
				<h1 class="c-box-title-text">サンエス工業を語る</h1>
			</div>
			<p class="c-center-head-lead">
				<span class="c-center-haed-text">サンエスらしさって何だろう</span>
			</p>
		</div>
		<section class="p-introduction-content">
			<div class="p-introduction-lead">
				<div class="c-lead-block">
					<h2 class="c-lead-block-headline">大企業にはない裁量権の大きさと風通しの良さが最大の強み</h2>
                  <p class="c-lead-block-text is-small">サンエス工業では「技術営業マン」が営業担当であり、お客様からのご要望に対しヒアリングや仕様書に基づいて、コーディネーターとして各セクションを動かしています。<br>
                  お客様の相談相手として設計段階からアフターサービスまでワンストップで対応します。<br>
                  もちろん責任は重いですが、そのぶん各スタッフの裁量権が大きくなり、小回りが利き細かいご要望にも迅速な対応が可能となる、というのがサンエス工業のスタイルであり、大企業にはない大きな強みでもあります。<br>
                  社員間の距離が近く、何でも気軽に相談できる風通しの良さがこのスタイルを支えています。消音部門、空調部門、ダクト部門とそれぞれ担当は分かれていても、サンエス工業の全社員がこの「らしさ」を共有しています。</p>
				</div>
			</div>
			<div class="p-introduction-slide">
				<div class="p-introduction-slide-item is-large">
					<picture>
						<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide1@2x.jpg">
						<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide1.jpg">
						<img src="<%- d.path %>assets/images/introduction/introduction-02-slide1.jpg" alt="" width="490" height="240">
					</picture>
				</div>
				<div class="p-introduction-slide-item">
					<picture>
						<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide2@2x.jpg">
						<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide2.jpg">
						<img src="<%- d.path %>assets/images/introduction/introduction-02-slide2.jpg" alt="" width="245" height="240">
					</picture>
				</div>
				<div class="p-introduction-slide-item">
					<picture>
						<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide3@2x.jpg">
						<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-slide3.jpg">
						<img src="<%- d.path %>assets/images/introduction/introduction-02-slide3.jpg" alt="" width="245" height="240">
					</picture>
				</div>
			</div>
			<section class="p-introduction-interview">
				<div class="p-introduction-interview-headline c-lead-block">
					<h2 class="c-lead-block-headline is-black">竣工後の建物に自分たちの仕事が反映されていることが誇り</h2>
				</div>
				<div class="p-introduction-interview-list">
					<div class="p-introduction-interview-item">
						<figure class="p-introduction-interview-image">
							<figcaption class="p-introduction-interview-image-title">茨城工場 ・ 中島 拓也</figcaption>
							<picture>
								<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-photo1@2x.jpg">
								<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-photo1.jpg">
								<img src="<%- d.path %>assets/images/introduction/introduction-02-photo1.jpg" alt="茨城工場 ・ 中島 拓也" width="360" height="285">
							</picture>
						</figure>
						<p class="p-introduction-interview-text">茨城工場では、消音機器や空調機器の製造を行っており、大きく分けると前処理を行う加工班と仕上げを行う組立班に分かれます。担当する作業は違っても全員が、作る製品にプロ意識とプライドを持ち、より早く、美しく仕上げられるよう向上心を持っています。規格品だけでなく特殊な形状の製品では、お互いに相談したり連携して取り組んでいます。建物の中に設置されてしまえば外からは見えませんが、街のランドマークとなるような建築物の空調機能を我々の製品が支えていると思うと、誇らしい思いになりますね。</p>
					</div>
					<div class="p-introduction-interview-item">
						<figure class="p-introduction-interview-image">
							<figcaption class="p-introduction-interview-image-title">茨城工場 ・ 須藤 隆宏</figcaption>
							<picture>
								<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-photo2@2x.jpg">
								<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-02-photo2.jpg">
								<img src="<%- d.path %>assets/images/introduction/introduction-02-photo2.jpg" alt="茨城工場 ・ 須藤 隆宏" width="360" height="285">
							</picture>
						</figure>
						<p class="p-introduction-interview-text">若手から見ると頼れる先輩が多く、同じ製品を作るにしてもルーティンに陥らず、常に向上心を絶やさない点など刺激を受けています。もの作りの職場ですが、誰もがお客様の視点での品質管理を心がけているので、仲間としての一体感を感じられる会社です。社内の雰囲気が良く環境的にもワークライフバランスに恵まれているので、ストレスをあまり感じないですね。入社以来、さまざまな技能スキルを一から身につけることができてやりがいのある仕事です。今後は新たな仲間を迎えることができればうれしいですね。</p>
					</div>
				</div>
			</section>
			<div class="p-introduction-button">
				<a href="../" class="c-button-large">「空気」で創り出す快適な空間</a>
			</div>
		</section>
	</div>
</div>