<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-type1">
		<div class="c-box-title">
			<h1 class="c-box-title-text">製品紹介<span class="c-box-title-text-small">Product Introduction</span></h1>
			<span class="c-box-title-bottom is-medium">消音部門</span>
		</div>
	</div>
	<div class="c-common-bg">
		<div class="p-business c-common-bg-inner">
			<section class="p-business-products">
				<div class="c-lead-block">
                  <h2 class="c-lead-block-headline">与えられた仕様やスペース等の条件に応じた<br>
                  消音製品を設計・製作します</h2>
				</div>
				<div class="p-business-products-detail">
					<article class="c-product-detail">
						<div class="c-product-detail-content">
							<h3 class="c-product-detail-title">消音マフラー</h3>
							<p class="c-product-detail-text">膨張型マフラーのため空気抵抗が少なく、最も消音性能が求められる低周波数帯域での減衰量を大きくできます。消音計算を行って大きさと長さを決定します。</p>
							<h4 class="c-product-detail-label">こんな場所に</h4>
							<ul class="c-product-detail-list">
								<li class="c-product-detail-list-item">給気側（ＳＡ）、排気側（ＥＡ）いずれにも使用します</li>
							</ul>
						</div>
						<div class="c-product-detail-images">
							<div class="c-product-detail-image">
								<img src="<%- d.path %>assets/images/business/business-silencer-product1.jpg" alt="消音マフラー" width="345" height="273">
							</div>
						</div>
					</article>
					<article class="c-product-detail">
						<div class="c-product-detail-content">
							<h3 class="c-product-detail-title">消音チャンバー</h3>
							<p class="c-product-detail-text">給気側のＳＡチャンバー、還気側のＲＡチャンバーは鉄板に吸音材を内貼りした製品のほか、ＰＡＣ用のチャンバーなどでは鉄板内貼りとグラスボード製、２種類の製作が可能です。</p>
							<h4 class="c-product-detail-label">こんな場所に</h4>
							<ul class="c-product-detail-list">
								<li class="c-product-detail-list-item">ダクトの接続（ジョイント）部に使用します</li>
							</ul>
						</div>
						<div class="c-product-detail-images">
							<div class="c-product-detail-image">
								<img src="<%- d.path %>assets/images/business/business-silencer-product2.jpg" alt="消音チャンバー" width="345" height="270">
							</div>
						</div>
					</article>
					<article class="c-product-detail">
						<div class="c-product-detail-content">
							<h3 class="c-product-detail-title">消音エルボ</h3>
							<p class="c-product-detail-text">現場からの要望に対応し、丸型・角型の製作が可能。ダクトの大きさによっては分割の対応も可能です。</p>
							<h4 class="c-product-detail-label">こんな場所に</h4>
							<ul class="c-product-detail-list">
								<li class="c-product-detail-list-item">ダクトの接続（ジョイント）部に使用します</li>
							</ul>
						</div>
						<div class="c-product-detail-images">
							<div class="c-product-detail-image">
								<img src="<%- d.path %>assets/images/business/business-silencer-product3.jpg" alt="消音エルボ" width="345" height="270">
							</div>
						</div>
					</article>
					<article class="c-product-detail">
						<div class="c-product-detail-content">
							<h3 class="c-product-detail-title">消音ボックス</h3>
							<p class="c-product-detail-text">アネモボックス・制気口ボックス、ラインボックスなど鉄板内貼りとグラスボード製、２種類の製作が可能。またそれらを標準化することで納期短縮が可能です。</p>
							<h4 class="c-product-detail-label">こんな場所に</h4>
							<ul class="c-product-detail-list">
								<li class="c-product-detail-list-item">空調ダクトの制気口（吹出口・吸込口）に使用します</li>
							</ul>
						</div>
						<div class="c-product-detail-images">
							<div class="c-product-detail-image">
								<img src="<%- d.path %>assets/images/business/business-silencer-product4.jpg" alt="消音ボックス" width="345" height="229">
							</div>
						</div>
					</article>
					<article class="c-product-detail">
						<div class="c-product-detail-content">
							<h3 class="c-product-detail-title">各種消音器</h3>
							<p class="c-product-detail-text">各種設備機器から発生する騒音対策のための消音装置です。現地の騒音測定を行ったうえで効果的な消音を実施します。冷却塔用の消音器、室外機用消音器などがあります。</p>
						</div>
						<div class="c-product-detail-images">
							<section class="c-product-detail-images-section">
								<h4 class="c-product-detail-images-title">室外機用</h4>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product5.jpg" alt="各種消音器 室外機用 写真" width="345" height="230">
								</div>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product6.jpg" alt="各種消音器 室外機用 写真" width="345" height="280">
								</div>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product7.jpg" alt="各種消音器 室外機用 写真" width="345" height="330">
								</div>
							</section>
							<section class="c-product-detail-images-section">
								<h4 class="c-product-detail-images-title">ファン用</h4>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product8.jpg" alt="各種消音器 ファン用 写真" width="345" height="250">
								</div>
							</section>
							<section class="c-product-detail-images-section">
								<h4 class="c-product-detail-images-title">ポンプ用</h4>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product9.jpg" alt="各種消音器 ポンプ用 写真" width="345" height="320">
								</div>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product10.jpg" alt="各種消音器 ポンプ用 写真" width="345" height="330">
								</div>
							</section>
							<section class="c-product-detail-images-section">
								<h4 class="c-product-detail-images-title">チラー用</h4>
								<div class="c-product-detail-image">
									<img src="<%- d.path %>assets/images/business/business-silencer-product11.jpg" alt="各種消音器 チラー用 写真" width="345" height="250">
								</div>
							</section>
						</div>
					</article>
				</div>
			</section>
		</div>
	</div>
</section>