<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">ご挨拶・企業理念</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom">
		<div class="p-company c-common-bg-inner">
			<div class="p-comapny-index">
				<section class="p-company-index-section">
					<h2 class="c-card-title">
						<span class="c-card-title-text">
							ご挨拶
							<span class="c-card-title-en">Message</span>
						</span>
					</h2>
					<div class="p-company-index-content">
						<div class="p-company-index-detail">
							<p class="p-company-index-text">
株式会社サンエス工業は空調機器・消音機器の製造および<br>
ダクト工事を手掛けるメーカーとして、約半世紀にわたり、<br>
「快適な空気を静かにお届けする」ことに貢献してきました。<br>
私たちの製品は、外からは見えない多くの現場で快適な<br>
環境を支え、お客様から高い信頼をいただいています。
							</p>
							<p class="p-company-index-text">
近年、安心・安全な環境へのニーズがひときわ高まっており、<br>
生活環境の基本要素である「空気調節」の役割も注目されています。<br>
私たちサンエス工業は、企画・設計段階のご相談から徹底した<br>
アフターサービスまで一貫した体制で、さまざまなお客様のご要望に<br>
お応えできるよう、一丸となって創造力と品質の向上に努めています。
							</p>
							<p class="p-company-index-text">
今後は環境問題をはじめとするSDGsへの取り組みも推進し、<br>
建設業界に携わる一員として社会貢献への責任を果たせるように<br>
精進を重ねてまいります。これからのサンエス工業にご期待ください。
							</p>
						</div>
						<div class="p-company-index-visual">
							<img class="p-company-index-visual-image" src="<%- d.path %>assets/images/company/company-portrait1.jpg" alt="肖像写真" width="250" height="300">
							<p class="p-company-index-visual-signiture"><img class="p-company-index-visual-image" src="<%- d.path %>assets/images/company/company-signiture1.png" alt="代表取締役社長 菊池丈之" width="215" height="25"></p>
						</div>
					</div>
				</section>
				<section class="p-company-index-section">
					<h2 class="c-card-title">
						<span class="c-card-title-text">
							企業理念
							<span class="c-card-title-en">Philosophy</span>
						</span>
					</h2>
					<div class="p-company-index-content">
						<div class="p-company-index-detail">
							<p class="p-company-index-text">
                              サンエス工業では社名の「サンエス」に象徴されるポリシーとして、「三つのＳ」を掲げています。
                            </p>
							<p class="p-company-index-text">
                              <strong>一つ目のＳはSolution（ソリューション）。</strong><br>
                              お客様のニーズをくみ取り、予算や納期をクリアしたうえで良質な製品をお納めするために、自ら問題を発見し解決する。その姿勢を大切にしています。
                            </p>
							<p class="p-company-index-text">
                              <strong>二つ目のＳはSupport（サポート）。</strong><br>
                              現場で要求されるさまざまな条件を満足する製品づくりのために、現地調査なども含めたきめ細やかなサポートができる体制を整えています。
                            </p>
							<p class="p-company-index-text">
                              <strong>三つ目のＳはService（サービス）。</strong><br>
                              私たちはメーカーである前にまずお客様に寄り添うマインドを大切にし、既製品だけでなく特殊な製品もご要望に応じて対応できるような、高い技術力と機動力でお応えします。
							</p>
						</div>
					</div>
				</section>
				<section class="p-company-index-3s">
					<div class="p-company-index-3s-head">
						<h2 class="p-company-index-3s-head-title">サンエス工業の<strong>三つのＳ</strong></h2>
						<div class="p-company-index-3s-head-illust">
							<img src="<%- d.path %>assets/images/company/company-3s-illust.png" alt="Solution Support Service" width="343" height="334">
						</div>
					</div>

					<div class="p-company-index-3s-content">
						<img class="p-company-index-3s-image pc-view" 
							src="<%- d.path %>assets/images/company/company-3s.png" 
							alt="サンエス工業の三つのＳ Solution 問題を発見し解決する Support 条件に適合し対応する Service お客様の要望に寄り添う"
							width="751" height="383">
						<img class="p-company-index-3s-image sp-view"
							src="<%- d.path %>assets/images/company/company-3s_sp.png"	
							alt="サンエス工業の三つのＳ Solution 問題を発見し解決する Support 条件に適合し対応する Service お客様の要望に寄り添う"
							width="280" height="474">
					</div>
				</section>
			</div>
		</div>
	</div>
</section>