<% var d = jsonData; -%>
<section class="l-content is-no-pb">
	<div class="c-visual-head is-comapny">
		<div class="c-box-title">
			<h1 class="c-box-title-text">事業拠点</h1>
		</div>
	</div>
	<div class="c-common-bg is-bottom is-show-sp">
		<div class="p-company c-common-bg-inner">
			<div class="p-comapny-locations">
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">本社</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒110-0005<br>
								東京都台東区上野5丁目15番14号<br>
								ミヤギビル<br>
								TEL 03-3831-1531 (代表)<br>
								FAX 03-3831-1526
							</p>
							<div class="p-company-locations-detail-button">
								<a href="./about.html#map1" class="c-button-plane">地図</a>
							</div>
						</div>
						<div class="p-company-locations-gallery">
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations1.jpg" alt="本社" width="177" height="225">
							</div>
						</div>
					</div>
				</section>
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">東北支店・工場</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒981-3117<br>
								宮城県仙台市泉区市名坂字野蔵１３<br>
								TEL 022-373-4700 (代表)<br>
								FAX 022-373-6861
							</p>
							<div class="p-company-locations-detail-button">
								<a href="./about.html#map2" class="c-button-plane">地図</a>
							</div>
							<p class="p-company-locations-detail-text">
								敷地面積　1363㎡<br>建物面積　847㎡
							</p>
						</div>
						<div class="p-company-locations-gallery">
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations6.jpg" alt="東北支店・工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations7.jpg" alt="東北支店・工場" width="260" height="210">
							</div>
						</div>
					</div>
					<div class="p-company-locations-list">
						<h3 class="c-border-title">主な機械設備</h3>
						<ul class="c-vertical-list">
							<li class="c-vertical-list-item">・プラズマ切断機</li>
							<li class="c-vertical-list-item">・自動切断ライン</li>
							<li class="c-vertical-list-item">・ボタンパンチ成型機×2</li>
							<li class="c-vertical-list-item">・三井ハゼ成型機</li>
							<li class="c-vertical-list-item">・フチ折機×2</li>
							<li class="c-vertical-list-item">・ハゼ折機×2</li>
							<li class="c-vertical-list-item">・共板成型機</li>
							<li class="c-vertical-list-item">・TFDダクト折曲機</li>
							<li class="c-vertical-list-item">・リブ入れロール機</li>
							<li class="c-vertical-list-item">・Zリブ成型機</li>
							<li class="c-vertical-list-item">・スポット溶接機</li>
							<li class="c-vertical-list-item">・ベンダー</li>
							<li class="c-vertical-list-item">・シャーリング</li>
							<li class="c-vertical-list-item">・エキセン</li>
							<li class="c-vertical-list-item">・スピンカラー成型機ン</li>
							<li class="c-vertical-list-item">・卓上ボール盤</li>
							<li class="c-vertical-list-item">・電動油圧カッター</li>
							<li class="c-vertical-list-item">・電動ホイストクレーン</li>
						</ul>
					</div>
				</section>
				<section class="p-company-locations-section">
					<h2 class="c-bar-title">茨城工場</h2>
					<div class="p-company-locations-content">
						<div class="p-company-locations-detail">
							<p class="p-company-locations-detail-text">
								〒300-0134<br>
								茨城県かすみがうら市深谷６７<br>
								TEL 029-897-1917 (代表)<br>
								FAX 029-897-1918<br>
							</p>
							<div class="p-company-locations-detail-button">
								<a href="./about.html#map3" class="c-button-plane">地図</a>
							</div>
							<p class="p-company-locations-detail-text">
								敷地面積　4610㎡<br>建物面積　1915㎡
							</p>
						</div>
						<div class="p-company-locations-gallery">
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations2.jpg" alt="茨城工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations3.jpg" alt="茨城工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations4.jpg" alt="茨城工場" width="260" height="210">
							</div>
							<div class="p-company-locations-gallery-image">
								<img src="<%- d.path %>assets/images/company/company-locations5.jpg" alt="茨城工場" width="260" height="210">
							</div>
						</div>
					</div>
					<div class="p-company-locations-list">
						<h3 class="c-border-title">主な機械設備</h3>
						<ul class="c-vertical-list is-4">
							<li class="c-vertical-list-item">・シャーリング×2</li>
							<li class="c-vertical-list-item">・ターレットパンチプレス×2</li>
							<li class="c-vertical-list-item">・ベンダー×3</li>
							<li class="c-vertical-list-item">・アイアンワーカー</li>
							<li class="c-vertical-list-item">・コーナーシャー</li>
							<li class="c-vertical-list-item">・マーズ</li>
							<li class="c-vertical-list-item">・ハゼ折機</li>
							<li class="c-vertical-list-item">・動力プレス機×</li>
							<li class="c-vertical-list-item">・プレス機×4</li>
							<li class="c-vertical-list-item">・溶接機×4</li>
							<li class="c-vertical-list-item">・卓上ボール盤×4</li>
							<li class="c-vertical-list-item">・エアープラズマ</li>
							<li class="c-vertical-list-item">・共板加工機</li>
							<li class="c-vertical-list-item">・GW加工機×6</li>
							<li class="c-vertical-list-item">・ひも出し機×2</li>
							<li class="c-vertical-list-item">・電動ホイストクレーン×3</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>