<% var d = jsonData; -%>
<div class="l-content c-common-bg">
	<div class="c-common-bg-inner p-introduction">
		<div class="c-center-head">
			<div class="c-box-title is-type2  is-small">
				<h1 class="c-box-title-text">サンエス工業を語る</h1>
			</div>
			<p class="c-center-head-lead">
				<span class="c-center-haed-text">「空気」で創り出す快適な空間</span>
			</p>
		</div>
		<section class="p-introduction-content">
			<div class="p-introduction-lead">
				<div class="c-lead-block">
                  <h2 class="c-lead-block-headline">環境に応じた最適な空気を提供する３つの技術</h2>
                  <p class="c-lead-block-text is-small">目には見えないけれど私たちの生命を支え、生きていくうえでなくてはならない空気。その空気を快適にコントロールすることは、もはや現代社会に欠かせない技術となっています。<br>
                  空気の温度や湿度をコントロールする空調とは「空気調和」の略であり、快適な空間を提供するために、さまざまな要素を調和させるための技術……それが「空調」の技術です。<br>
                  さらに空調機から発生する騒音を抑えるための「消音」技術、建物の隅々まで確実に調和された空気を届けるための「ダクト」技術。この３つの技術を組み合わせることで、快適な空間を創り出す空気のコントロールが可能となります。<br>
                  サンエス工業では、この３つの技術それぞれに特化させた部門を持つことで、お互いに連携したり刺激しあったりしながら、これからも快適な空間を提供し続けます。</p>
				</div>
			</div>
			<div class="p-introduction-illust">
				<picture>
					<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/introduction-illust@2x.png">
					<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/introduction-illust.png">
					<img src="<%- d.path %>assets/images/introduction/introduction-illust.png" alt="" width="665" height="567">
				</picture>
			</div>
			<section class="p-introduction-business">
				<div class="p-introduction-business-list">
					<div class="p-introduction-business-item">
						<div class="p-introduction-business-detail">
							<div class="p-introduction-business-inner">
								<h2 class="c-bar-title is-icon-white is-small is-center">消音部門</h2>
								<div class="p-introduction-business-content">
									<p class="p-introduction-business-headline">
										空調機にはつきものの「音」を<br>技術とノウハウで抑えます
									</p>
									<p class="p-introduction-business-text">空調設備には空気を送り出すためのファンがあるので、構造的に音の発生は避けられません。発生した音がダクトなどを通じて居室や作業場所に届くのですが、その音が騒音として許容範囲以下になるよう抑えるのが消音部門の仕事です。<br>
									音を消すには各種の吸音材や消音器を使いますが、基本的には予測計算技術によるシミュレーションで設計を進めます。施工する場所によって求められる消音レベルはそれぞれ異なり、放送局のスタジオやコンサートホールなど特にシビアな消音が要求される現場もあります。計算通りの消音効果を発揮するためには独特のノウハウがあり、経験に裏付けられた技術が評価されています。
									</p>
								</div>
							</div>
						</div>
						<figure class="p-introduction-business-image">
							<figcaption class="p-introduction-business-image-title">伊吹 直人</figcaption>
							<picture>
								<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/photo-ibuki@2x.jpg">
								<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/photo-ibuki.jpg">
								<img src="<%- d.path %>assets/images/introduction/photo-ibuki.jpg" alt="伊吹 直人" width="460" height="325">
							</picture>
						</figure>
					</div>
					<div class="p-introduction-business-item">
						<div class="p-introduction-business-detail">
							<div class="p-introduction-business-inner">
								<h2 class="c-bar-title is-icon-white is-small is-center">空調部門</h2>
								<div class="p-introduction-business-content">
									<p class="p-introduction-business-headline">ターミナル駅や工場の中に、<br>私たちの「作品」が入っています</p>
									<p class="p-introduction-business-text">空調機には主な構成部品として冷却コイル、加熱コイルなどの熱交換器、空気を運ぶためのファン、取り入れた空気を清浄化するためのフィルターなどがあり、それらを用途や現場の状況に応じユニットとして組み合わせます。<br>
									大量生産のエアコンと違い空調機は一つひとつがオーダーメイドになるので、お客様のニーズや予算を踏まえてその都度、設計を行います。そういう意味では、どの空調機も私たちの「作品」と言えるでしょう。新築時に納品するケースだけでなく既存の建物に設置する場合、ケーシングを部材ごとに分けて搬入する現場組立型の空調機にも多数の実績があり、工場組立と同等の精度で対応しています。</p>
								</div>
							</div>
						</div>
						<figure class="p-introduction-business-image">
							<figcaption class="p-introduction-business-image-title">山添 健一</figcaption>
							<picture>
								<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/photo-yamazoe@2x.jpg">
								<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/photo-yamazoe.jpg">
								<img src="<%- d.path %>assets/images/introduction/photo-yamazoe.jpg" alt="山添 健一" width="460" height="325">
							</picture>
						</figure>
					</div>
					<div class="p-introduction-business-item">
						<div class="p-introduction-business-detail">
							<div class="p-introduction-business-inner">
								<h2 class="c-bar-title is-icon-white is-small is-center">ダクト部門</h2>
								<div class="p-introduction-business-content">
									<p class="p-introduction-business-headline">自社工場でのダクト製作を<br>高い技術力が支えています</p>
									<p class="p-introduction-business-text">一定規模の建築物には空調設備が欠かせませんが、そこで必ず必要なのが建物の「呼吸器」となるダクトです。ダクトがなければ建築物の給気と排気を実現できないからです。東北支店はダクトに特化した部門となっており、自社の工場で製造したダクトを自分たちで設置しています。<br>
									ダクトは他の工作物と違って現場で調整することが難しいので、工場で設計仕様書通りに正確に仕上げる技術が求められます。板金加工の技能や現場を管理できるスキルを備えた社員が多数在籍しており、サブコン様をはじめ病院や研究所など多くの得意先様から「サンエスに任せれば安心」と評価をいただいています。</p>
								</div>
							</div>
						</div>
						<figure class="p-introduction-business-image">
							<figcaption class="p-introduction-business-image-title">小野 泰宏</figcaption>
							<picture>
								<source media="(max-width: 768px)" srcset="<%- d.path %>assets/images/introduction/photo-ono@2x.jpg">
								<source media="(min-width: 769px)" srcset="<%- d.path %>assets/images/introduction/photo-ono.jpg">
								<img src="<%- d.path %>assets/images/introduction/photo-ono.jpg" alt="小野 泰宏" width="460" height="325">
							</picture>
						</figure>
					</div>
				</div>
			</section>
			<div class="p-introduction-button">
				<a href="./02/" class="c-button-large">サンエスらしさって何だろう</a>
			</div>
		</section>
	</div>
</div>