<% var d = jsonData; -%>
<header class="l-header js-header">
	<div class="l-header-wrapper">
		<h1 class="l-header-logo">
			<a href="<%- d.path %>" class="l-header-logo__link"><img src="<%- d.path %>assets/images/common/icon-ci.svg" alt="株式会社サンエス工業" width="291" height="35"></a>
		</h1>
		<a href="<%- d.path %>require" class="l-header-require<% if (d.isTop) { -%> is-top<% } -%>">
			<span class="l-header-require__text">お問い合わせ</span>
		</a>
	</div>
	<% if (!d.isTop) { -%>
	<nav class="c-pc-header-nav">
		<ul class="c-pc-header-nav-list">
			<li class="c-pc-header-nav-list__item">
				<div class="c-pc-header-nav-list__wrapper">
					<a href="#TODO" class="c-pc-header-nav-list__head">サンエス工業を語る</a>
					<div class="c-pc-header-nav-block">
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">快適な空気を作る３つの要素</a>
						</div>
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">サンエスらしさって何だろう</a>
						</div>
					</div>
				</div>
			</li>
			<li class="c-pc-header-nav-list__item">
				<div class="c-pc-header-nav-list__wrapper">
					<a href="#TODO" class="c-pc-header-nav-list__head">Business Lineup</a>
					<div class="c-pc-header-nav-block">
						<div class="c-pc-header-nav-block-item">
							<div class="c-pc-header-nav-block-item__title">消音部門</div>
							<div class="c-pc-header-nav-block-item__inner">
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">部門紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">製品紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">導入実績</a>
								</div>
							</div>
						</div>
						<div class="c-pc-header-nav-block-item">
							<div class="c-pc-header-nav-block-item__title">消音部門</div>
							<div class="c-pc-header-nav-block-item__inner">
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">部門紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">製品紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">導入実績</a>
								</div>
							</div>
						</div>
						<div class="c-pc-header-nav-block-item">
							<div class="c-pc-header-nav-block-item__title">ダクト部門</div>
							<div class="c-pc-header-nav-block-item__inner">
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">部門紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">製品紹介</a>
								</div>
								<div class="c-pc-header-nav-block__text">
									<a href="#TODO" class="c-pc-header-nav-block__link">導入実績</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="c-pc-header-nav-list__item">
				<div class="c-pc-header-nav-list__wrapper">
					<a href="#TODO" class="c-pc-header-nav-list__head">About us</a>
					<div class="c-pc-header-nav-block">
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">ご挨拶・企業理念</a>
						</div>
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">企業概要</a>
						</div>
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">沿革</a>
						</div>
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">事業拠点</a>
						</div>
					</div>
				</div>
			</li>
			<li class="c-pc-header-nav-list__item">
				<div class="c-pc-header-nav-list__wrapper">
					<a href="#TODO" class="c-pc-header-nav-list__head<% if (d.current === 'recruit') { -%> is-current<% } -%>">採用情報</a>
					<div class="c-pc-header-nav-block">
						<div class="c-pc-header-nav-block__text">
							<a href="#TODO" class="c-pc-header-nav-block__link">募集要項</a>
						</div>
						<div class="c-pc-header-nav-block__text">
							<a href="<%- d.path %>recruit/require.html" class="c-pc-header-nav-block__link">採用お問い合わせ</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<% } -%>
	<button class="c-sp-header-nav-button js-header-button"  aria-label="グローバルナビゲーション" aria-controls="aria-navigation">
		<span class="c-sp-header-nav-button__lines">
			<span class="c-sp-header-nav-button__line"></span>
			<span class="c-sp-header-nav-button__line"></span>
		</span>
	</button>
	<nav class="c-sp-header-nav js-header-menu" id="aria-navigation" aria-label="グローバルナビゲーション">
		<ul class="c-sp-header-nav-list">
			<li class="c-sp-header-nav-list__item">
				<div class="c-sp-header-nav-block js-accordion">
					<div class="c-sp-header-nav-block__sub">Introduction</div>
					<button class="c-sp-header-nav-block__head js-accordion-tab"
						type="button" 
						id="js-accordion-tab-1"
						role="tab"
						aria-controls="js-accordion-panel-1"
                        aria-selected="false">サンエス工業を語る</button>
					<ul class="c-sp-header-nav-block__list js-accordion-panel"
						id="js-accordion-panel-1"
						role="tabpanel"
						aria-labelledby="js-accordion-tab-1"
						aria-expanded="false"
						aria-hidden="true">
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- 快適な空気を作る３つの要素</a>
						</li>
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- サンエスらしさって何だろう</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="c-sp-header-nav-list__item">
				<div class="c-sp-header-nav-block js-accordion">
					<div class="c-sp-header-nav-block__sub">Business Lineup　事業案内</div>
					<div class="c-sp-header-nav-block__content">
						<button class="c-sp-header-nav-block__head js-accordion-tab"
							type="button" 
							id="js-accordion-tab-2"
							role="tab"
							aria-controls="js-accordion-panel-2"
							aria-selected="false">消音部門</button>
						<ul class="c-sp-header-nav-block__list js-accordion-panel"
							id="js-accordion-panel-2"
							role="tabpanel"
							aria-labelledby="js-accordion-tab-2"
							aria-expanded="false"
							aria-hidden="true">
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 部門紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 製品紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 導入実績</a>
							</li>
						</ul>
					</div>
					<div class="c-sp-header-nav-block__content">
						<button class="c-sp-header-nav-block__head js-accordion-tab"
							type="button" 
							id="js-accordion-tab-3"
							role="tab"
							aria-controls="js-accordion-panel-3"
							aria-selected="false">空調部門</button>
						<ul class="c-sp-header-nav-block__list js-accordion-panel"
							id="js-accordion-panel-3"
							role="tabpanel"
							aria-labelledby="js-accordion-tab-3"
							aria-expanded="false"
							aria-hidden="true">
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 部門紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 製品紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 導入実績</a>
							</li>
						</ul>
					</div>
					<div class="c-sp-header-nav-block__content">
						<button class="c-sp-header-nav-block__head js-accordion-tab"
							type="button" 
							id="js-accordion-tab-4"
							role="tab"
							aria-controls="js-accordion-panel-4"
							aria-selected="false">ダクト部門</button>
						<ul class="c-sp-header-nav-block__list js-accordion-panel"
							id="js-accordion-panel-4"
							role="tabpanel"
							aria-labelledby="js-accordion-tab-4"
							aria-expanded="false"
							aria-hidden="true">
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 部門紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 製品紹介</a>
							</li>
							<li class="c-sp-header-nav-block__item">
								<a href="#TODO" class="c-sp-header-nav-block__link">- 導入実績</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="c-sp-header-nav-list__item">
				<div class="c-sp-header-nav-block js-accordion">
					<div class="c-sp-header-nav-block__sub">About us　会社案内</div>
					<button class="c-sp-header-nav-block__head js-accordion-tab"
						type="button" 
						id="js-accordion-tab-5"
						role="tab"
						aria-controls="js-accordion-panel-5"
						aria-selected="false">企業情報</button>
					<ul class="c-sp-header-nav-block__list js-accordion-panel"
						id="js-accordion-panel-5"
						role="tabpanel"
						aria-labelledby="js-accordion-tab-5"
						aria-expanded="false"
						aria-hidden="true">
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- ご挨拶・企業理念</a>
						</li>
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- 会社概要</a>
						</li>
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- 沿革</a>
						</li>
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- 事業拠点</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="c-sp-header-nav-list__item">
				<div class="c-sp-header-nav-block js-accordion">
					<button class="c-sp-header-nav-block__head js-accordion-tab"
						type="button" 
						id="js-accordion-tab-6"
						role="tab"
						aria-controls="js-accordion-panel-6"
						aria-selected="false">採用情報</button>
					<ul class="c-sp-header-nav-block__list js-accordion-panel"
						id="js-accordion-panel-6"
						role="tabpanel"
						aria-labelledby="js-accordion-tab-6"
						aria-expanded="false"
						aria-hidden="true">
						<li class="c-sp-header-nav-block__item">
							<a href="#TODO" class="c-sp-header-nav-block__link">- 募集要項</a>
						</li>
						<li class="c-sp-header-nav-block__item">
							<a href="<%- d.path %>recruit/require.html" class="c-sp-header-nav-block__link">- 採用お問い合わせ</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>