<% 
	const d = jsonData;
	const commonTitle = '株式会社サンエス工業｜空調機器製造販売';
	const commonDescription = '株式会社サンエス工業は、昭和49年創業の空調機器及び消音機器の製造メーカーです。';
	const domain = 'http://www.sss-k.co.jp';
-%>
<%- include('./_contact') %>
<!DOCTYPE html>
<html lang="ja">
<head>
	<title><% if (!d.isTop) { -%><%- d.title %> | <% } -%><%- commonTitle %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<% if (d.ogtype) { -%>
		<meta property="og:type" content="<%- d.ogtype %>">
	<% } else { -%>
		<meta property="og:type" content="article">
	<% } -%>
	<meta name="format-detection" content="telephone=no">
	<meta property="og:title" content="<% if (!d.isTop) { -%><%- d.title %> | <% } -%><%- commonTitle %>">
	<meta property="og:url" content="<%- domain %><%- d.url %><%- d.name %>.html">
	<meta property="og:site_name" content="<%- commonTitle %>">
	<meta property="og:description" content="<%- d.title %>。<%- commonDescription %>">
	<meta name="description" content="<%- commonDescription %>">
	<% if(d.css) { -%><% for(var i=0; i < d.css.length;i++) { -%><link rel="stylesheet" href="<%- d.css[i] -%>"><% } -%><% } -%>
	<link rel="stylesheet" href="<%- d.path %>assets/css/style.css">
</head>
<body id="body" class="l-body js-body">
<%- include('./_svg') %>
<div class="l-wrapper">