<% 
	const d = jsonData;
	const commonTitle = '株式会社サンエス工業';
	const commonDescription = '';
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
	<title><%- d.title %> | <%- commonTitle %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<% if (d.ogtype) { -%>
		<meta property="og:type" content="<%- d.ogtype %>">
	<% } else { -%>
		<meta property="og:type" content="article">
	<% } -%>
	<meta name="format-detection" content="telephone=no">
	<meta property="og:title" content="<%- d.title %>｜<%- commonTitle %>">
	<meta property="og:url" content="#TODO<%- d.url %>">
	<meta property="og:site_name" content="<%- commonTitle %>">
	<meta property="og:description" content="<%- commonDescription %>">
	<meta name="description" content="<%- commonDescription %>">
	<link rel="stylesheet" href="<%- d.path %>assets/css/style.css">
</head>
<body id="body">
<%- include('./_svg') %>
<div class="l-wrapper">